* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Prompt', sans-serif;
  
}

body { 
  background-color: rgb(238, 238, 238);
  
  h2 { 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
  }


/* BARRE DE NAVIAGTION */

.navbar { 
  background-color: rgb(36,30,32);
  padding: 0 20px ;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  .logo { 
    display: flex;
    height: 60px;
    max-width: 20px;
  }

  input { 
    display: none;
  }

  .nav-menu{
    display: none;
    position: absolute;
    background-color: rgb(39, 34, 35);
    list-style: none;
    text-align: end;
    box-shadow: 0px 0px 100vw rgb(50, 50, 50);
    padding: 20px;
    right: 0;
    height: 100vh;
    width: 240px;


    a{
      color: rgb(238, 238, 238) ;
      text-decoration: none;
      line-height: 3em;
      border: 30px;
      font-size: 16px;
    }
  }
  
  #btn:checked + ul{
    display: block;
    top: 80px;

    
  }

  .icon { 
    fill: rgb(238, 238, 238);
    cursor: pointer;

  }

  .icon:hover{
    fill: rgb(247, 211, 64);
    transition: all .3s;
  }

  .nav-a:hover{
    color: rgb(247, 211, 64);
    transition: all .3s;
    
  }

  @media screen and (min-width: 1024px) {

    .logo{
      z-index: 30;
    }

    .icon{
      display: none;
    }

    .nav-menu{
      background-color: rgb(36,30,32);
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 80px;
      padding: 0;
      margin: 0;

      .nav-a{
        padding: 0px 1.3em;
      }

      .nav-item { 
        display: inline-block;   
      }
      .nav-a:hover{
        position: static;
        color: rgb(247, 211, 64);
        transition: all .3s; 
      }
    } 
  }
  
  @media screen and (min-width: 1440px) {

    .logo{
      z-index: 30;
    }

    .icon{
      display: none;
    }

    .nav-menu{
      background-color: rgb(36,30,32);
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 80px;
      padding: 0;
      margin: 0;

      .nav-a{
        display: inline-block;
        padding: 0px 4rem;
      }

      .nav-item { 
        display: flex;   
      }
      .nav-a:hover{
        position: static;
        color: rgb(247, 211, 64);
        transition: all .3s;
        
      }
    } 
  }
}

/* ACCUEIL */

.title-page{
  display: flex;
  background-size: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 80px;
  padding: 20px;
  background-image: url(image/bg-page.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 { 
  font-size: 6em;
  text-align: center;
  font-weight: bolder; 
}

.presentation{
  background-color: white;
  text-align: justify;
  padding: 10px;
}

.salle{ 
  background-color: white;
}
.musculation{
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  .musculation-image{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
}


/* TARIFS */ 

.main-tarif {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr 1fr;
  gap: 10px;

  .title-tarif { 
    display: flex;
    margin: 0;
    padding: 30px;
  }

  .container { 
    display: grid;
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(93, 92, 92, 0.060);
    padding: 0; 
    margin-bottom: 50px;
    

    .container-nom, .container-prix, .container-text, .container-btn, .btn-info {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
    }

    .container-prix {
      background-color: rgb(247, 211, 64);
      }
    
      .btn-info {
        background-color: rgb(238, 238, 238);
        border: none;
        height: 45%;
        width: 60%;

        a{
          color: black;
          text-decoration: none;
        }
      }
      .btn-info:hover {
        box-shadow: 3px 3px rgba(247, 210, 64, 0.284);
        background-color: rgba(238, 238, 238, 0.783);;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    
    .main-tarif{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px 1fr 1fr;
    }

    .title-tarif{
      display: grid;
      grid-column-start: span 2;
    }
  }

  @media screen and (min-width: 1440px) {
     
    .main-tarif{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 100px 1fr ;
    }

    .title-tarif{
      display: grid;
      grid-column-start: span 4;
    }
  }
}

/* HORRAIRES */

.main-horraires{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.table-striped{
  border: 1px solid black;
}